@font-face {
    font-family: 'open_sanssemibold';
    src: url('./fonts/opensans-semibold-webfont.eot');
    src: url('./fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/opensans-semibold-webfont.woff') format('woff'),
    url('./fonts/opensans-semibold-webfont.ttf') format('truetype'),
    url('./fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('./fonts/opensans-regular-webfont.eot');
    src: url('./fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/opensans-regular-webfont.woff') format('woff'),
    url('./fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('./fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('./fonts/opensans-bold-webfont.eot');
    src: url('./fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/opensans-bold-webfont.woff') format('woff'),
    url('./fonts/opensans-bold-webfont.ttf') format('truetype'),
    url('./fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'WebSymbolsLigaRegular';
    src: url('./fonts/WebSymbolsLigaRegular.eot');
    src: url('./fonts/WebSymbolsLigaRegular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/WebSymbolsLigaRegular.woff') format('woff'),
    url('./fonts/WebSymbolsLigaRegular.ttf') format('truetype'),
    url('./fonts/WebSymbolsLigaRegular.svg#WebSymbolsRegular') format('svg');
}

@font-face {
    font-family: 'entypo';
    src: url('./fonts/entypo.eot');
    src: url('./fonts/entypo.eot?#iefix') format('embedded-opentype'),
    url('./fonts/entypo.woff') format('woff'),
    url('./fonts/entypo.ttf') format('truetype'),
    url('./fonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'entypo-social';
    src: url('./fonts/entypo-social.eot');
    src: url('./fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
    url('./fonts/entypo-social.woff') format('woff'),
    url('./fonts/entypo-social.ttf') format('truetype'),
    url('./fonts/entypo-social.svg#entypo-social') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'amertype_md_btmedium';
    src: url('./fonts/american_typewriter_medium_bt-webfont.eot');
    src: url('./fonts/american_typewriter_medium_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/american_typewriter_medium_bt-webfont.woff') format('woff'),
         url('./fonts/american_typewriter_medium_bt-webfont.ttf') format('truetype'),
         url('./fonts/american_typewriter_medium_bt-webfont.svg#amertype_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntubold';
    src: url('./fonts/ubuntu-b-webfont.eot');
    src: url('./fonts/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/ubuntu-b-webfont.woff') format('woff'),
         url('./fonts/ubuntu-b-webfont.ttf') format('truetype'),
         url('./fonts/ubuntu-b-webfont.svg#ubuntubold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium';
    src: url('./fonts/ubuntu-m-webfont.eot');
    src: url('./fonts/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/ubuntu-m-webfont.woff') format('woff'),
         url('./fonts/ubuntu-m-webfont.ttf') format('truetype'),
         url('./fonts/ubuntu-m-webfont.svg#ubuntumedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('./fonts/fontello.eot?3270857');
  src: url('./fonts/fontello.eot?3270857#iefix') format('embedded-opentype'),
       url('./fonts/fontello.woff?3270857') format('woff'),
       url('./fonts/fontello.ttf?3270857') format('truetype'),
       url('./fonts/fontello.svg?3270857#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?3270857#fontello') format('svg');
  }
}
*/
 